.layoutDefault {
    &__header {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 999;
        width: 100%;
        background:#F5F5F5;
        margin: 0 auto;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 50px;
        border-bottom: 1px solid #ddd;
    }
    &__headerLogo {
        width: 100px;
        cursor: pointer;
        img {
            width: 100%;
        }
    }

    &__content {
        background: #fff;
        padding: 10px 50px 30px;
    }
    &__footer {
        text-align: center;
        font-weight: 500;
        border-top: 1px solid #ddd;
    }
}